body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #90ee90;
}

h1 {
  font-style: Bold;
  color: #ffffff;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: whitesmoke;
  border: 1px solid grey;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

input {
  font-size: 16px;
  border-radius: 3px;
  background-color: whitesmoke;
  border: 1px solid grey;
  cursor: pointer;
}

input:hover {
  background-color: yellow;
}
